Source: txtorcon
Section: python
Priority: optional
Maintainer: Shrikant Bobade <shrikant_bobade@mentor.com>
Build-Depends: debhelper,
               dh-python,
               python-all,
               python-setuptools,
               python-ipaddress,
               python-enum34,
               python-automat,
               python-geoip,
               python-mock,
               python-twisted,
               python3-all,
               python3-setuptools,
               python3-automat,
               python3-geoip,
               python3-mock,
               python3-twisted,
Standards-Version: 4.3.0
Homepage: https://pythonhosted.org/txtorcon

Package: python-txtorcon
Architecture: all
Depends: python-geoip, python-twisted, python-zope.interface, python-automat, python-incremental, python-ipaddress, python-enum34, python:any (>= 2.7.5-5~)
Description: TODO

Package: python3-txtorcon
Architecture: all
Depends: python3-geoip, python3-twisted, python3-zope.interface, python3-automat, python3-incremental, python-ipaddress, python-enum34, python:any (>= 2.7.5-5~)
Description: TODO
