#!/usr/bin/make -f
export DH_VERBOSE = 1

export PYBUILD_NAME=txtorcon

%:
	dh $@ --with python2,python3 --buildsystem=pybuild


# We are going to skip dh_auto_test for this package since it causes spurious
# failures
override_dh_auto_test:
